#ellipsis-ripple {
  transition: transform 0.1s ease, border-width 0.1s ease;
  position: absolute;
  border-radius: 100%;
  opacity: 0.3;
  box-sizing: border-box;
  z-index: 999999999999;
}
